
/**
 * 颜色 Colors
 */

$color-whitesmoke   = #f5f5f5
$color-gainsboro    = #eee
$color-gray-lighter = #ddd
$color-grey-light   = #ccc
$color-grey-dark    = #999
$color-grey-dim     = #666
$color-black-light  = #555
$color-black-dim    = #333
$color-black-deep   = #222

// 主题色
$color-base   = #447DF5
// 渐变色
$color-base-gradient1   = #6080FF
$color-base-gradient2   = #1635B2
// 价格标签色
$color-label-price   = #1AEEC2
// 灰色字体色
$color-font-grey = #9B9B9B
// 主题字体色
$color-base-font = #353C48
// 公共的border-radius
$border-base-radius = 10px
// 下面的大按钮的radius
$border-btn-radius = 100px
// 主题边框 boder-bottom的颜色
$color-grey-border = rgba(151,151,151,0.28)
// 我的里面的灰色字体
$color-grey_account = #979797

$size-base-font = 28px



/**
 * 字体
 */





/**
 * 字号
 */



/**
 * 边框
 */